@import '../../styles/mixin';

.swiper-container {
  width: 100%;
  min-height: 400px;
  height: 100%;
}

.swiper {
  // padding:3vw;
  height: 380px;
  overflow: hidden;
  image {
    width: 100%;
    // border-radius: 12px;
    box-shadow: 1px solid #ddd;
    background-attachment: scroll;
    // height: 400px !important;
  }
  // img {
  //   height: 400px !important;
  // }
}
